Debug
/CoverageReports
/.visualgdb/CodeDB
/.vs/AT32_Base
/.visualgdb/VisualGDBCache/AT32_Base-Debug/MemoryUtilizationReport.xml
*.scovreport
26.01.2024_16_48_01.scovreport
/аЗ
.visualgdb
VisualGDB
.vs
